<!-- Tutoring Page -->
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Anudari Personal Page</title>
	<meta name="Author" content="Anudari Gereltod"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<!-- head -->
<header>
 <h1>Anudari G</h1>
  <!-- nav-bar -->
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="resume/resume.html">Resume</a></li>
      <li><a href="projects/projects.html">Projects</a></li>
      <li><a class="current-pg" href="tutoring.html">Math Tutoring</a></li>
      <li><a href="contact/contact.html">Contact</a></li>
    </ul>
  </nav>
  <hr>
</header>

<!-- main -->
<main>
  
</main>

<!-- footer -->
<footer>

</footer>

</body>
</html>

