img{
  max-width: 10em;
  padding-top: 1em;
}

h3{
  text-decoration: underline;
}

div{
  border: snow solid 0.5em;
  border-radius: 2rem;
  padding: 2rem;
}

/*MEDIA*/
@media (min-width: 60em){
  main{
    display: grid;
  }
}










